@model transpositionWeb.ModelView.TNotasView

@{
    ViewData["Title"] = "Index";
}

<h1>Transposición de Notas</h1>
<h3>DE: </h3>

<table class="table table-bordered">
    <thead class="table-info">
        <tr>
            <th>C</th>
            <th>Eb</th>
            <th>Bb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.CheckBox("de", true)
            </td>
            <td>
                @Html.CheckBox("de", false)
            </td>
            <td>
                @Html.CheckBox("de", false)
            </td>
        </tr>
    </tbody>

</table>

<h3>Selecciones los acordes a transponer: </h3>


@using (Html.BeginForm("Index", "Notas", FormMethod.Post))
{
    <table class="table table-bordered">
        @foreach (var item in ViewBag.Notas)
        {
            <td>
                @*@Html.LabelFor(item => item.notasCromaticas, new { style="color:red" })  &nbsp; @Html.CheckBoxFor(item => item.IsChecked, false)*@
                @Html.Raw(item.notasCromaticas)  &nbsp; @Html.CheckBoxFor(item => item.IsChecked, false)
            </td>
        }
        <tr>
            <td>
                <div>
                    <input type="submit" value="Enviar" />
                </div>
            </td>
        </tr>
    </table>
}

<h3>A: </h3>

<table class="table table-bordered">
    @foreach (var item in ViewBag.Notas)
    {
        <td>
            @Html.Raw(item.notasCromaticas)
        </td>
    }
</table>
